
@{
    ViewBag.Title = "AddUnionArchiIndex";
    Layout = "~/Views/Shared/_UnionLeft.cshtml";
}

<div class="col-md-9 well admin-content" id="JiaGou">
    <form action="/UnionInfor/AddJiaGouMSG" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend class="text-center">添加工会架构信息</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">架构标题</label>
                <div class="col-md-6">

                    <input name="MingCheng" type="text" placeholder="输入架构标题" class="form-control input-md" />
                    <span class="help-block">目的让用户一目了然</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">发布人</label>
                <div class="col-md-4">
                    <input name="FabuRen" type="text" placeholder="填写发布人名字" class="form-control input-md" required="" />
                    <span class="help-block">此处应如实填写发布人名字</span>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label">架构内容</label>
                <div class="col-md-6">
                    <textarea class="form-control" name="JieShao"></textarea>
                </div>
            </div>

            <input name="ShiJian" style="display:none" />

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label">选择</label>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-info">确定</button>
                    <button type="reset"  class="btn btn-warning">重置</button>
                </div>
            </div>
            

        </fieldset>
    </form>
</div>
    <h2>AddUnionArchiIndex</h2>

