
@{
    ViewBag.Title = "AddUnionAnnounIndex";
    Layout = "~/Views/Shared/_UnionLeft.cshtml";
}
<div class="col-md-9 well admin-content" style="height:800px;">


    <form action="/UnionInfor/AddGongGaoMSG" method="post">
        <fieldset>
            <!-- Form Name -->
            <legend class="text-center">发布最新公告</legend>

            <!-- Text input-->
            <div class="form-group">
                <div class="col-md-6">
                    最新公告标题:<input id="TextBox1" name="MingCheng" type="text" placeholder="输入最新公告标题" class="form-control input-md" required="">
                    <span class="help-block">仔细填写最新公告标题</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              
                <div class="col-md-4">
                    发布人:<input id="TextBox2" name="FabuRen" type="text" placeholder="填写发布人名字" class="form-control input-md" required="">
                    <span class="help-block">此处应如实填写发布人名字</span>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
           
                <div class="col-md-6">
                    最新公告内容:<textarea class="form-control" name="JieShao"></textarea>
                </div>
            </div>

          

            <input style="display:none" name="ShiJian" />

            <!-- Button (Double) -->
            <div class="form-group">
       
                <div class="col-md-8">
                    选择: <button id="Button1" name="Button1" class="btn btn-info">确定</button>
                    <button id="Button2" name="Button2" class="btn btn-warning">重填</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>

