
@{
    ViewBag.Title = "UnionInforIndex";
    Layout = "~/Views/Shared/_UnionLeft.cshtml";
}

<div class="col-md-9 well admin-content" id="home">
    <p>
        Hello! This is a forked snippet.<br>
        It is for users, which use one-page layouts.
        为用户开发的单页布局样式，喜欢吗?
    </p>
    <p>
        Here's the original one from BhaumikPatel: <a href="http://bootsnipp.com/snippets/featured/vertical-admin-menu" target="_BLANK">Vertical Admin Menu</a>
        <br><br>
        <strong>Thank you!</strong>
    </p>
</div>
<div class="col-md-9 well admin-content" id="GongHuiI">
    工会信息简介...
</div>