@{
   // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_UnionLeft.cshtml";
    ViewBag.Title = "UnionFunctionIndex";
}
<head>
    <title>工会职能</title>
</head>
<h2>UnionFunctionIndex</h2>

