
@{
    ViewBag.Title = "JoinUsIndex";
    Layout = "~/Views/Shared/_UnionLeft.cshtml";
}
<head>
    <title>工会职能</title>
</head>
<div class="col-md-9 well admin-content" id="Contact">
    我们的地址是,,,
</div>

