@{
    Layout = null;
    ViewBag.Title = "Home Page";
}
@*首页资讯*@
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="Stylesheet" />
<link href="~/Content/css/jquery-ui.css" rel="Stylesheet" />
<link href="~/Content/css/vertical menu.css" rel="Stylesheet" />
<link href="~/Content/css/footer.css" rel="Stylesheet" />
<link href="~/Content/css/tab carousel.css" rel="Stylesheet" />


    <div class="container" style="position:absolute;margin-top:10em;margin-left:20%;">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <ul class="nav nav-pills ">
                    <!--
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="...">
                    </a>-->
                   
                    <li class="active">@Html.ActionLink("首页资讯", "HomeIndex", "Home")</li>
                 
                    <li>@Html.ActionLink("工会职能", "UnionFunctionIndex", "UnionFunction")</li>
                  
                    <li>
                        <a href="#">工会信息</a>
                    </li>
                    <li>
                        <a href="#">工会成员</a>
                    </li>
                    <li>
                        <a href="#">教职工福利</a>
                    </li>
                    <li>
                        <a href="#">教职工家属</a>
                    </li>
                    <li>
                        <a href="#">加入我们</a>
                    </li>

                    <li class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人中心<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">操作</a>
                            </li>
                            <li>
                                <a href="#">设置栏目</a>
                            </li>
                            <li>
                                <a href="#">更多设置</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li class="alert-info">
                                <a href="#">修改口令</a>
                            </li>
                            <li class="alert-danger">
                                <a href="#">退出系统</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="container" style="margin-top:12em;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="~/images/blog.jpg">
                    <div class="carousel-caption">
                        <h3>标题1</h3>
                        <p>Lorem<a class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
                    </div>
                </div><!-- End Item -->

                <div class="item">
                    <img src="~/images/woman-on-phone.jpg">
                    <div class="carousel-caption">
                        <h3>Headline</h3>
                        <p> invid<a class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
                    </div>
                </div><!-- End Item -->

                <div class="item">
                    <img src="~/images/dusk.jpg">
                    <div class="carousel-caption">
                        <h3>Headline</h3>
                        <p>voluptua. <a class="label label-danger">Collection</a></p>
                    </div>
                </div><!-- End Item -->

                <div class="item">
                    <img src="~/images/hotel.jpg">
                    <div class="carousel-caption">
                        <h3>Headline</h3>
                        <p>inviut lab</p>
                    </div>
                </div><!-- End Item -->

            </div><!-- End Carousel Inner -->

            <ul class="nav nav-pills nav-justified">
                <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">About<small>Lorem ipsum dolor sit</small></a></li>
                <li data-target="#myCarousel" data-slide-to="1"><a href="#">Projects<small>Lorem ipsum dolor sit</small></a></li>
                <li data-target="#myCarousel" data-slide-to="2"><a href="#">Portfolio<small>Lorem ipsum dolor sit</small></a></li>
                <li data-target="#myCarousel" data-slide-to="3"><a href="#">Services<small>Lorem ipsum dolor sit</small></a></li>
            </ul>

        </div><!-- End Carousel -->
    </div>

    <h3 class="text-center">欢迎来到工会日常工作管理系统</h3>

    <footer class="mt-5 ">
        <div class="container-fluid bg-primary py-3" style="margin-top:16em;">
            <div class="container">
                <div class="col-lg-12">
                    <p class="text-white text-center">©1995-2017 Tom A. and Jerry S. Meyer. All Rights Reserved.</p>
                </div>
            </div>
        </div>

    </footer>

    <script src="~/Scripts/bootstrap.js" language="javascript" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui.js" language="javascript" type="text/javascript"></script>
    <script src="~/Scripts/jquery.js" language="javascript" type="text/javascript"></script>
    <script src="~/Scripts/tab carousel.js" language="javascript" type="text/javascript"></script>
