.alpha
{
	background:rgba(148, 208, 238, 0.4) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
	filter:Alpha(opacity=40);
	background:#94d0ee;/*实现IE背景透明*/
}
.menu_l,.menu_l ul,.menu_l li
{
	margin:0px;
	padding:0px;
}
.menu_l
{
	padding-right: 0px;
	padding-left: 0px;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	color: #ffffff;
	padding-top: 10px;
	position: relative;
}
.menu_l ul
{
	list-style-type: none;
}
.menu_l li
{
	float: left;
	list-style-type: none;
}
.copyright
{
	padding-left: 10px;
	font-size: 12px;
	color: #e1feff;
	line-height: 18px;
	font-family: Arial;
	height: 24px;
}
#menubar
{    top: 2px;
    left: 2px;
    height: 552px;
}
#menubar ul
{
	margin: 0px;
}
#menubar ul li
{
	float: left;
	margin-left: 0px;
}
#menubar a
{
	display: block;
	padding-left: 20px;
	font-size: 12px;
	background: url(../images/menu_icon2.gif) no-repeat;
	float: left;
	margin: 0px;
	width: 155px!important;
	width: 176px;
	color: #ffffff;
	padding-top: 2px!important;
	padding-top: 5px;
	height: 22px!important;
	height: 24px;
	text-align: left;
	text-decoration: none;
}
#menubar a:hover
{
	border: 1px solid #ffffff;
	display: block;
	padding-left: 20px;
	font-size: 12px;
	background: url(../images/menu_icon.gif) rgba(148, 208, 238, 0.6) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
	filter:Alpha(opacity=60);
	background: url(../images/menu_icon.gif) #94d0ee no-repeat;
	float: left;
	margin: 0px;
	width: 154px!important;
	width: 176px;
	color: #000000;
	padding-top: 2px!important;
	padding-top: 4px;
	height: 20px!important;
	height: 24px;
	text-align: left;
	text-decoration: none;
}
